<div class="center-block">
<h1 style="text-align:center;text-decoration:underline">Documentator</h1>
<p>Developers love to build. It is exciting to write code and see something happen on the screen. What is less exciting is writing documentation. In an effort to promote open source involvement and good documentation, I have created Documentator. Sign in through Github and search for projects in languages you are comfortable with. Open source involvement goes beyond creating new features or fixing bugs. Equally as important are the tutorials and documentation that give users a change to see how to integrate the project into their own work.</p>

<p>Let's get writing, y'all!</p>

<a class="btn btn-lg btn-primary" href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%=@client_id%>"><img src="icon-github.png" alt="Github logo" /> Login Via Github</a>
</div>